# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=otimiz_admin
DB_PASSWORD=otimiz_password
DB_NAME=otimiz_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Security
JWT_SECRET=mudar_para_um_segredo_forte_em_producao
JWT_EXPIRES_IN=1d

# App
PORT=3001
NODE_ENV=development
